<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkbig.thinkbig">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_best"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_best_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountActivity.LoginActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".AccountActivity.RegisterActivity" />
        <activity android:name=".SplashScreen.SplashScreenActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppointmentListView.AppointmentActivity"
            android:parentActivityName=".NavigationDrawer.NewNavigationActivity" />
        <activity
            android:name=".AppoinmentHandler.MakeAppointmentActivity"
            android:parentActivityName=".NavigationDrawer.NewNavigationActivity" />
        <activity
            android:name=".LecturerList.LecturerList"
            android:parentActivityName=".NavigationDrawer.NewNavigationActivity" />
        <activity
            android:name=".UploadLecturerDetails.UploadActivity"
            android:parentActivityName=".NavigationDrawer.NewNavigationActivity" />
        <activity
            android:name=".GoogleMap.GoogleMapActivity"
            android:parentActivityName=".NavigationDrawer.NewNavigationActivity" />
        <activity
            android:name=".Chat.ChatActivity"
            android:parentActivityName=".NavigationDrawer.NewNavigationActivity" />
        <activity
            android:name=".NavigationDrawer.NewNavigationActivity"
            android:theme="@style/AppTheme1" />

        <receiver android:name=".AppoinmentHandler.NotificationReceiver"
            android:parentActivityName=".NavigationDrawer.NewNavigationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGjq638KI8uBef5AeKOu5_2txPXHcYVLY" />

        <activity android:name=".About"></activity>
    </application>

</manifest>